<div class="logo-green-wrapper">
    <a href="/"><img src="images/logo-home page-green.png" alt="ola logo"></a>
</div>
<div id="form-login">
  <div class="login-wrapper">
    <h2>Welcome back to Ola -<span>Where Surfing Connections Await! 🤙</span></h2>
    <div class="login-form-inputs">
      <form action="/login" method="POST">
       <label> enter your username*</label>
            <input type="text" name="username" placeholder="username"/>
        
        <label>enter your password*</label>
            <input type="password" name="password" placeholder="********" />
        <div class="button-form-wrap">
          <button type="submit">login</button>
        </div>
        
        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
    </div>
       
  </div>
</div>