<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <header>
    <nav>
      <a href="/posts">
        <img
          src="/images/logo-vertical navbar.png"
          alt="logo"
          class="logo-vertical-navbar"
        />
      </a>
      <div class="category-btn">
        <img
          src="/images/btn-category sell.png"
          alt="category sell/rent button"
          id="sell-btn"
        />
        <img
          src="/images/btn-category-tips.png"
          alt="category tips button"
          id="tips-btn"
        />
        <img
          src="/images/btn-category-meetup.png"
          alt="category meetup button"
          id="meetup-btn"
        />
      </div>
      <div class="create-post">
        <a href="/post-create">
          <img src="/images/create-btn.png" alt="create post button" />
        </a>
      </div>
      <div class="profile-avatar">
        <a href="/profile">
          <img src="{{user.avatar}}" alt="user avatar" />
        </a>
      </div>
      <div class="logout">
        <form id="logout-form" action="/logout" method="POST">
          <button>Logout</button>
        </form>
      </div>
    </nav>
  </header>
  <body>
  
    {{{body}}}
    <script src="/js/script.js"></script>
  </body>
</html>