{{! <div class="nav-container">
  <nav class="nav-home">
    <div class="nav-img">
      <a href="/"><img src="images/logo-home.png" alt="ola logo" /></a>
    </div>
    <div>
      <a href="/about-us">About Us</a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </div>
  </nav>
</div> }}
<h1>Welcome to Ola!</h1>
<p>At Ola, we are a passionate community dedicated to the world of surfing and
  the thrill of riding the waves. We've created an online space where surfers of
  all skill levels can connect, share their experiences, and enhance their
  surfing journey. Our platform combines the excitement of the waves with the
  warmth of a community, and we're here to help you dive deep into surf culture.</p>

<h2>Our Mission</h2>
<p>Our mission is simple: to make surfing accessible and exciting for everyone.
  Whether you're a beginner just learning to catch your first wave or an
  experienced surfer seeking new breaks and friends from around the world, Ola
  is the place where you can find what you need.</p>

<h2>What We Offer</h2>
<ul>
  <li><strong>Connection:</strong>
    Connect with surfers from all over the globe. Make new friends who share
    your passion for waves and ocean adventures.</li>
  <li><strong>Share Your Experiences:</strong>
    Share your epic stories, tips for improvement, and your most thrilling
    moments with the community.</li>
  <li><strong>Learn and Improve:</strong>
    Access valuable tips and tricks from experienced surfers. Learn new
    techniques and enhance your skills in the water.</li>
  <li><strong>Buy and Sell:</strong>
    Need a new surfboard? Or maybe you want to sell the one you're no longer
    using? At Ola, you can find the right gear or give new life to your old
    equipment.</li>
  <li><strong>Organize Meetups:</strong>
    Plan and participate in surf meetups with other community members. Waves are
    more fun when shared with friends!</li>
</ul>

<h2>Join Us</h2>
<p>We're thrilled to have you in the Ola community. Join us today, create your
  profile, and start exploring everything we have to offer. Together, we'll ride
  the waves, share incredible stories, and make surfing an even more exciting
  experience.</p>

<p>See you in the surf!</p>

<h3>The Ola Team:</h3>
<div>
  <div>
    <img />
    <p>Shanija Perera</p>
    <a href="#">GitHub 1</a>
  </div>
  <div>
    <img />
    <p>Davinia Tosco</p>
    <a href="#">GitHub 2</a>
  </div>
  <div>
    <img />
    <p>Erik Torres</p>
    <a href="#">GitHub 3</a>
  </div>
</div>
<footer class="footer">
  <div><img src="images/logo-footer.png" alt="footer logo" /></div>
  <div>Copyright © 2023 All rights reserved</div>
</footer>