<div class="nav-container1">
  <nav class="nav-home1">
    <div class="nav-img1">
      <a class="nav-img-about" href="/"><img
          src="/images/logo-home page-green.png"
          alt="ola logo"
        /></a>
    </div>
    <div class="links-container">
      <a class="about-nav-buttons nav1-links" href="/about-us">About Us</a>
      <a class="about-nav-buttons nav1-links" href="/login">Login</a>
      <a class="nav-signup-about nav1-links" href="/signup">Sign Up</a>
    </div>
  </nav>
</div>
<div class="everything-container">
  <div class="about-body-container">
    <div class="about-h-p">
      <h1 class="welcome-heading">Welcome to Ola!</h1>
      <p>At Ola, we are a passionate community dedicated to the world of surfing
        and the thrill of riding the waves. We've created an online space where
        surfers of all skill levels can connect, share their experiences, and
        enhance their surfing journey. Our platform combines the excitement of
        the waves with the warmth of a community, and we're here to help you
        dive deep into surf culture.</p>
    </div>
    <div class="about-h-p">
      <h2 class="headings-titles">Our Mission</h2>
      <p>Our mission is simple: to make surfing accessible and exciting for
        everyone. Whether you're a beginner just learning to catch your first
        wave or an experienced surfer seeking new breaks and friends from around
        the world, Ola is the place where you can find what you need.</p>
    </div>
    <div class="about-h-p">
      <h2 class="headings-titles">What We Offer</h2>
      <ul class="about-ul">
        <li><strong>Connection:</strong>
          Connect with surfers from all over the globe. Make new friends who
          share your passion for waves and ocean adventures.</li>
        <li><strong>Share Your Experiences:</strong>
          Share your epic stories, tips for improvement, and your most thrilling
          moments with the community.</li>
        <li><strong>Learn and Improve:</strong>
          Access valuable tips and tricks from experienced surfers. Learn new
          techniques and enhance your skills in the water.</li>
        <li><strong>Buy and Sell:</strong>
          Need a new surfboard? Or maybe you want to sell the one you're no
          longer using? At Ola, you can find the right gear or give new life to
          your old equipment.</li>
        <li><strong>Organize Meetups:</strong>
          Plan and participate in surf meetups with other community members.
          Waves are more fun when shared with friends!</li>
      </ul>
    </div>
    <div class="about-h-p">
      <h2 class="headings-titles">Join Us</h2>
      <p>We're thrilled to have you in the Ola community. Join us today, create
        your profile, and start exploring everything we have to offer. Together,
        we'll ride the waves, share incredible stories, and make surfing an even
        more exciting experience.</p>
    </div>
    <p>See you in the surf!</p>

    <h3 class="ola-team">The Ola Team:</h3>
    <div class="about-avatars">
      <div class="avatar-team">
        <a href="https://github.com/shaniperera"><img
            src="/images/Shani-avatar.png"
            width="150px"
            height="200px"
          /></a>
      </div>
      <div class="avatar-team">
        <a href="https://github.com/Da-vinia"><img
            src="/images/Davinia-avatar.png"
            width="150px"
            height="200px"
          /></a>
      </div>
      <div class="avatar-team">
        <a href="https://github.com/etorres12345"><img
            src="/images/Erik-avatar.png"
            width="150px"
            height="200px"
          /></a>
      </div>
    </div>
  </div>
</div>

 <footer class="footer">
    <div class="footer-center">
          <img src="images/logo-footer.png" alt="footer logo">
      <p>Copyright © 2023  All rights reserved</p>
    </div>
</footer>