<div class="home-page">
    <div class="nav-container">
        <nav class="nav-home">
            <div class="nav-img">
                <a href="/"><img src="images/logo-home.png" alt="ola logo"></a>
            </div>
            <div>
                <a href="/about-us">About Us</a>
                <a href="/login">Login</a>
                <a href="/sign-up">Sign Up</a>
            </div>
        </nav>   
    </div>
    <section class="hero">
        <img src="images/hero-img.png" alt="waves">
    </section>
    <footer class="footer">
    <div><img src="images/logo-footer.png" alt="footer logo"></div>
    <div>Copyright © 2023  All rights reserved</div>
    </footer>
</div>