<div class="error-container">
    <div class="error-video-container">
        <video width="100%" height="100%" autoplay muted loop>
            <source src="videos/waives404.mp4" type="video/mp4">
            "Your browser does not support the video tag."
        </video>
    </div>
    <div class="error-text-container">
        <h1>404</h1>
        <h2>This page has gone surfing! Try catching it on a new swell.</h2>
        <button><a href="/">Home</a></button>
    </div>
</div>