* {
  margin: 0;
  padding: 0
}

/* profile page */
#profilePencilIcon {
  /* background-image: url('./images/icons/edit-icon.png');
  background-repeat: no-repeat; */
  width: 30px;
  height: 30px;
}

#closePopupBtn {
  /* background-image: url('../images/close-btn.png');
  background-repeat: no-repeat; */
  width: 30px;
  height: 30px;
}