<script src="../js/script.js"></script>

<div class="search-navbar">
  <div class="search-wrapper">
    <form id="search-form" action="/posts" method="POST">
      <input type="text" name="keyword" placeholder="Search..." />
      <button class="search" type="submit">Search</button>
      <button class="reset" type="button" id="reset-button">Reset</button>
    </form>
  </div>
</div>
<div class="post-page">
<div class="posts-container">
    {{#each posts}}
      {{> postpartial this}}
    {{/each}}
</div>
</div>
   <div class="api-container">
    <h3> Current conditions at the top 5 beaches</h3>
    {{#each beachInformation}}
    <div class="beach-conditions">
      <br>
      <h5>Beach: {{this.name}}</h5>
      <p>Temperature: {{this.beachData.temperature}}°C</p>
      <p>Wind speed: {{this.beachData.windspeed}}km/h</p>
      <p>Wind direction: {{this.beachData.windspeed}} kts</p>
    </div>
    {{/each}}
  </div>

